body {
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .custom-bg {
    background-color: #CC00CC;
  }