{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card bg-light bg-opacity-80 shadow-lg p-4 rounded-4" style="width: 100%; max-width: 500px;">
      <div class="card-body">
        <h1 class="mb-4 text-center">Register</h1>
        {{ wtf.quick_form(form) }}
        <p class="text-center mt-3">
          Already have an account?
          <a href="{{ url_for("auth.login") }}">Sign In</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
